@import "../geral/main.scss",  "PaginaPrincipal/main";

@font-face {
    font-family: 'blabla';
    src: url('../Fonte/Omnes/blabla.otf');
}
*{
    font-family: 'blabla';
}

a{
    text-decoration: none !important;
    transition-duration: 0.5s;
}

::-webkit-scrollbar{
    width:12px;
    background-color: rgb(200,200,200);
    border:5px solid white;
}
::-webkit-scrollbar-thumb{
    background-color: $azul_claro;
    border-radius: 50px;
    border:2px solid white;
}