@media(min-width: 1130px){
    #main{
        .apresentacao{
            display:flex;
            justify-content: space-between;
            padding:0 15px;
        }
    }
}
@media(max-width: 1130px){
    #main{
        .apresentacao{
            flex-direction: column;
            .texto{
                .container_beneficios{
                    margin-top:30px;
                    *{
                        text-align: center;
                    }
                }
            }
            .img{
                width:100% !important;
                a{
                    width:100%;
                    max-width: 648px;
                    img{
                        width: 100% !important;
                    }
                }
            }
        }
    }
}
@media(max-width: 760px){
    #main{
        .apresentacao{
            flex-direction: column;
            .texto{
                .container_beneficios{
                    display:flex;
                    *{
                        text-align: center;
                    }
                }
            }
        }
    }
}
@media(max-width: 561px){
    #main{
        .apresentacao{
            .img{
                max-width: 344px;
                margin:0 auto;
            }
        }
    }
}
#main{
    overflow: hidden;
    .apresentacao{
        margin-bottom: 20px;
        .texto{
            .titulo{
                *{
                    text-align: center;
                }
                h1{
                    margin:20px 0px 0px 0px;
                }
            }
            .container_beneficios{
                display: flex;
                flex-direction: column;
                // gap:20px;
                .beneficios{
                    padding-top:10px;
                    padding-bottom:10px;
                    &:hover{
                        background-color: rgba(0, 0, 0, 0.205);
                    }
                    h2{
                        font-size: 1.2em;
                        &::before{
                            content: '+';
                            margin-right:5px;
                        }
                    }
                    p{
                        max-width:900px;
                    }
                }
            }
        }
        .img{
            // overflow: hidden;
            display: flex;
            justify-content: center;
            align-items: center;
            padding-left:5px;
            a{
                #imagem_fundo{
                    width:344px;
                    height:493px;
                    transition-duration: 0.4s;
                    &:hover{
                        transform: scale(1.02);
                    }
                }
            }
        }
    }
    .redes_sociais{
        h1{
            text-align: center;
        }
        .links{
            padding-top: 20px;
            display: flex;
            justify-content: space-around;
            flex-wrap: wrap;
            align-items: center;
            a{
                img{
                    transition-duration: 0.5s;
                    &:hover{
                        transform: scale(1.1);
                    }
                }
            }
        }
    }
}
#mini_wats{
    display:inline !important;
}