@import "../../geral/main.scss", "trabalhe_main/main";

@font-face {
    font-family: 'blabla';
    src: url('../../Fonte/Omnes/b.otf');
}

*{
    font-family: 'blabla';
}

body{
    height:100%;
}

::-webkit-scrollbar{
    width:12px;
    background-color: rgb(200,200,200);
    border:5px solid white;
}
::-webkit-scrollbar-thumb{
    background-color: $azul_claro;
    border-radius: 50px;
    border:2px solid white;
}