@import "../../geral/main.scss", "trabalhe_main/main";

@font-face {
    font-family: 'blabla';
    src: url('../../Fonte/Omnes bold/blabla.otf');
}

*{
    font-family: 'blabla';
}

body{
    height:100%;
}