@import "../../geral/main.scss", "Produtos_principal/main";

@font-face {
    font-family: 'blabla';
    src: url('../../Fonte/Omnes/b.otf');
}
*{
    font-family: 'blabla';
}

.texto_leitura{
    font-family: sans-serif !important;
}

body{
    overflow-x: hidden;
}

::-webkit-scrollbar{
    width:12px;
    background-color: rgb(200,200,200);
    border:5px solid white;
}
::-webkit-scrollbar-thumb{
    background-color: $azul_claro;
    border-radius: 50px;
    border:2px solid white;
}