.btn_geral {
  padding: 6px 12px;
  border-radius: 0.25rem;
  background-color: white;
  border: 1px solid;
}
.btn_geral:hover {
  color: white;
}

.btn_vermelo {
  color: #eb2726;
}
.btn_vermelo:hover {
  background-color: #eb2726;
  border-color: #eb2726;
}
.btn_vermelo:focus {
  box-shadow: 0 0 5px #eb2726;
}

.btn_verde {
  color: #46b763;
}
.btn_verde:hover {
  background-color: #46b763;
  border-color: #46b763;
}
.btn_verde:focus {
  box-shadow: 0 0 5px #46b763;
}

.btn_azul {
  color: #3b53a3;
}
.btn_azul:hover {
  background-color: #3b53a3;
  border-color: #3b53a3;
}
.btn_azul:focus {
  border-color: #3b53a3;
  box-shadow: 0 0 5px #3b53a3;
}

.btn_roxo {
  color: #a84598;
}
.btn_roxo:hover {
  background-color: #a84598;
  border-color: #a84598;
}
.btn_roxo:focus {
  border-color: #a84598;
  box-shadow: 0 0 5px #a84598;
}

.btn_laranja {
  color: #f16923;
}
.btn_laranja:hover {
  background-color: #f16923;
  border-color: #f16923;
}
.btn_laranja:focus {
  border-color: #f16923;
  box-shadow: 0 0 5px #f16923;
}

.btn_cinza {
  color: #414f64;
}
.btn_cinza:hover {
  background-color: #414f64;
  border-color: #414f64;
}
.btn_cinza:focus {
  border-color: #414f64;
  box-shadow: 0 0 5px #414f64;
}

@media (min-width: 1000px) {
  #header {
    background-color: red;
  }
  #header #div-cabecalho main {
    padding: 0 50px;
  }
  #header #div-cabecalho main .img-logo a img {
    width: 150px;
  }
  #header #div-cabecalho main .nav-pills {
    gap: 20px;
  }
  #header #div-cabecalho main .nav-pills .nav-lista {
    padding: 0;
    display: flex;
    align-items: center;
  }
  #header #div-cabecalho main .nav-pills .nav-link {
    padding-left: 0;
    padding-right: 0;
  }
  #header #div-cabecalho main #botao {
    display: none;
  }
}
@media (max-width: 999px) {
  #header #div-cabecalho {
    width: 100%;
    background-color: white;
    align-items: center;
  }
  #header #div-cabecalho main {
    align-items: center;
  }
  #header #div-cabecalho main .img-logo {
    width: 140px;
    height: 100px;
    margin-left: 20px;
  }
  #header #div-cabecalho main .img-logo a img {
    width: 100%;
  }
  #header #div-cabecalho main .nav-pills {
    z-index: -9;
    width: 100%;
    position: absolute;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    transition-duration: 0.2s;
    top: -40px;
  }
  #header #div-cabecalho main .nav-pills button {
    padding: 0;
  }
  #header #div-cabecalho main #botao {
    height: 25px;
    display: flex;
    flex-direction: column;
    gap: 7px;
    border: none;
    position: absolute;
    align-items: center;
    justify-content: center;
    margin-right: 60px;
    right: 0;
  }
  #header #div-cabecalho main #botao:hover {
    cursor: pointer;
  }
  #header #div-cabecalho main #botao .menu-burger {
    background-color: #414f64;
    display: block;
    height: 10px;
    border-radius: 10px;
    width: 30px;
    transition-duration: 0.1s;
  }
  #alvo .nav-lista {
    width: 100%;
    border: 1px solid rgb(28, 255, 255);
  }
  #alvo .nav-lista button {
    padding-left: 16px;
    padding-right: 100%;
    border: none;
  }
  #alvo .nav-lista .cor:hover {
    color: white;
    background-color: #3b53a3;
  }
  #alvo .nav-lista .cor:hover font {
    color: white;
  }
  #alvo .nav-lista .dropdown {
    padding: 0;
  }
  #alvo .nav-lista .dropdown #botao-lista-links {
    padding-left: 20px;
  }
}
@media (max-width: 500px) {
  #header #div-cabecalho main #botao {
    margin-right: 30px;
  }
}
#header {
  z-index: 5;
  position: fixed;
  width: 100%;
  top: 0;
}
#header #cabecalho {
  height: 98px;
  background-color: #3b53a3;
}
#header #cabecalho #logo-header {
  transition-duration: 0.8s;
}
#header #cabecalho #logo-header:hover {
  width: 160px !important;
}
#header #cabecalho .nav-pills .nav-lista li a font {
  color: #414f64;
}
#header #cabecalho .nav-pills .nav-lista li a:hover font {
  color: white;
}

.aparecer {
  top: 110px !important;
  background-color: white;
}

.mbc {
  position: relative;
  top: 10px;
  transform: rotate(45deg);
}

.mbb {
  position: relative;
  bottom: 11px;
  transform: rotate(-45deg);
}

.abm {
  opacity: 0;
}

#footer {
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #3b53a3;
}
#footer p {
  margin: 0px;
  color: white;
}

@media (min-width: 1000px) {
  #main footer {
    height: 70px;
    padding: 0 100px;
  }
  #main footer div a {
    width: 40px;
    transition-duration: 0.8s;
  }
  #main footer div a:hover {
    width: 50px;
  }
}
@media (max-width: 999px) {
  #main footer {
    height: 70px;
  }
  #main footer div p {
    font-size: 1.2em;
  }
  #main footer div a img {
    width: 30px;
  }
  #main footer div a img:hover {
    width: 40px;
  }
}
@media (max-width: 770px) {
  #main #header_main {
    height: 200px !important;
    padding: 30px 0 !important;
    background-color: white !important;
    flex-direction: column;
  }
  #main footer {
    flex-direction: column;
    height: 170px;
    padding: 20px 0;
    gap: 15px;
  }
  #main footer div a img:hover {
    width: 35px;
  }
}
#main {
  margin-top: 98px;
}
#main #header_main {
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 100px;
  background-color: #f16923;
  overflow: hidden;
}
#main #header_main img {
  width: 120px;
}
#main footer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #3E3ABA;
}
#main footer * {
  color: white;
}
#main footer div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
#main footer div p {
  font-size: 1.5em;
  margin: 0;
}
#main footer div a {
  max-width: 30px !important;
  height: 30px;
}
#main footer div a img {
  width: 30px;
  transition-duration: 0.8s;
}
#main footer div a img:hover {
  width: 37px;
  opacity: 0.7;
}

.wats {
  position: fixed;
  top: 85%;
  right: 10px;
  width: 52px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition-duration: 0.6s;
  background-color: white;
  border-radius: 25px;
  z-index: 9999;
}
.wats div img {
  transition-duration: 0.6s;
  width: 100%;
}

.img-animacao {
  animation-name: wats;
  animation-duration: 5s;
  animation-iteration-count: 2;
  animation-delay: 4s;
  animation-timing-function: linear;
  transition-duration: 0.6s;
}

@keyframes wats {
  20% {
    transform: rotate(0turn);
  }
  40% {
    transform: Rotate(1turn);
  }
  45% {
    transform: Rotate(1turn);
    width: 52px;
  }
  60% {
    width: 67px;
    border-radius: 40px;
  }
  75% {
    width: 52px;
  }
  100% {
    transform: Rotate(1turn);
  }
}
@font-face {
  font-family: "blabla";
  src: url("../Fonte/blabla.otf");
}
* {
  font-family: "blabla";
  color: #414f64;
  margin: 0px;
  padding: 0px;
}

li {
  list-style: none;
}

body {
  max-width: 100vw;
}

@media (min-width: 1325px) {
  .padding_pos_fixo {
    padding-top: 89px;
  }
}
@media (max-width: 1324px) {
  .padding_pos_fixo {
    padding-top: 126px;
  }
}
@media (min-width: 766px) {
  #main header {
    background-color: #f16923;
  }
  #main .botoes {
    width: 80%;
  }
  #main .imagens_produtos {
    background-color: 0;
  }
  #main .imagens_produtos .container_grid {
    width: 80%;
    grid-template-columns: 1fr;
    grid-template-rows: repat(3, 1fr);
    justify-content: center;
    align-items: center;
  }
  #main .imagens_produtos .container_grid .container_1, #main .imagens_produtos .container_grid .container_2, #main .imagens_produtos .container_grid .container_3 {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #main .imagens_produtos .container_grid .container_1 .img, #main .imagens_produtos .container_grid .container_2 .img, #main .imagens_produtos .container_grid .container_3 .img {
    display: inline;
  }
  .fixar_botoes {
    right: 10%;
  }
}
@media (max-width: 765px) {
  #main #header_main {
    height: 200px !important;
    padding: 30px 0 !important;
    background-color: white !important;
    flex-direction: column;
  }
  #main .descricao {
    flex-direction: column;
    border: 1px solid black;
  }
  #main .botoes {
    width: 100%;
  }
  #main .imagens_produtos {
    background-color: 0;
  }
  #main .imagens_produtos .container_grid {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  #main .imagens_produtos .container_grid .container_1, #main .imagens_produtos .container_grid .container_2, #main .imagens_produtos .container_grid .container_3 {
    display: flex;
  }
}
@media (min-width: 571px) {
  .fixar_botoes {
    position: fixed;
    background-color: white;
    top: 98px;
  }
  .foco_img img {
    width: 40%;
    max-width: 400px;
  }
}
@media (max-width: 570px) {
  .padding_pos_fixo {
    padding-top: 0px;
  }
  .foco_img img {
    width: 80%;
    max-width: 400px;
  }
  .msg_siga {
    margin: 10px 0;
  }
  .marcas .conteiner .c1 div, .marcas .conteiner .c2 div, .marcas .conteiner .c3 div {
    width: 20% !important;
  }
}
#main header, #main .descricao {
  margin: 0 auto;
}
#main #header_main {
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 100px;
  background-color: #f16923;
  overflow: hidden;
}
#main #header_main img {
  width: 120px;
}
#main .descricao {
  padding: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#main .descricao .texto {
  max-height: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
#main .descricao .texto h1 {
  width: 300px;
  font-size: 1.5em;
}
#main .descricao .texto P {
  font-family: serif;
  width: 90%;
}
#main .descricao .texto .p {
  font-family: "blabla";
  font-size: 2em;
  margin: 20px 0 0 0;
}
#main .descricao .imagem img {
  width: 250px;
}
#main .botoes {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 1%;
  justify-content: center;
  transition-duration: 0.2s;
  padding: 10px 0 20px 0;
  z-index: 9;
}
#main .botoes button {
  margin-top: 10px;
}
#main .imagens_produtos .container_grid {
  margin: 0 auto;
  display: grid;
}
#main .imagens_produtos .container_grid .img {
  max-height: 100%;
}
#main .imagens_produtos .container_grid .img img {
  width: 100%;
  background-clip: border-box;
  box-shadow: 1px 1px 10px black;
}
#main .marcas {
  width: 100%;
}
#main .marcas h1 {
  text-align: center;
  margin: 10px 0 0 0;
  padding: 20px 0 0 0;
}
#main .marcas .conteiner {
  display: flex;
  flex-direction: column;
  gap: 5%;
  max-width: 80%;
  margin: 0 auto;
}
#main .marcas .conteiner .c1, #main .marcas .conteiner .c2, #main .marcas .conteiner .c3, #main .marcas .conteiner .c4 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10%;
}
#main .marcas .conteiner .c1 div, #main .marcas .conteiner .c2 div, #main .marcas .conteiner .c3 div, #main .marcas .conteiner .c4 div {
  width: 15%;
  transition-duration: 0.5s;
}
#main .marcas .conteiner .c1 div:hover, #main .marcas .conteiner .c2 div:hover, #main .marcas .conteiner .c3 div:hover, #main .marcas .conteiner .c4 div:hover {
  transform: scale(1.2);
}
#main .marcas .conteiner .c1 div img, #main .marcas .conteiner .c2 div img, #main .marcas .conteiner .c3 div img, #main .marcas .conteiner .c4 div img {
  width: 100%;
}
#main .marcas .conteiner .c2 div:nth-child(3) {
  padding: 2px 5px 5px 5px;
  border-radius: 5px;
  background-color: black;
}
#main .msg_siga {
  padding: 20px 0;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#main .msg_siga h1 {
  width: 80%;
  border-top: 1px solid #eb2726;
  border-bottom: 1px solid #eb2726;
  padding: 5px 0;
  font-size: 1.5em;
  text-align: center;
}

.hover_img {
  transition-duration: 0.5s;
}
.hover_img:hover {
  transform: scale(1.03);
  cursor: pointer;
}

.foco_img_desaparecer {
  display: none;
}

.foco_img {
  position: fixed;
  top: 0;
  display: flex !important;
  justify-content: center;
  align-items: center;
  width: 100% !important;
  height: 100%;
  z-index: 999;
  filter: blur(0px) !important;
}
.foco_img img {
  box-shadow: 1px 1px 10px black;
  width: 100%;
}

.blur {
  filter: blur(10px);
}

#img_imagem_ativada {
  transition-duration: 0.7s !important;
}
#img_imagem_ativada:hover {
  transform: scale(1.04);
}

body {
  overflow-x: hidden;
}

#header {
  z-index: 99 !important;
}

.fixar_botoes {
  z-index: 3 !important;
  border-radius: 0 0 5px 5px;
}

.imagens_produtos {
  z-index: -99;
}

@font-face {
  font-family: "blabla";
  src: url("../../Fonte/blabla.otf");
}
* {
  font-family: "blabla";
}/*# sourceMappingURL=main.css.map */