.btn_geral {
  padding: 6px 12px;
  border-radius: 0.25rem;
  background-color: white;
  border: 1px solid;
}
.btn_geral:hover {
  color: white;
}

.btn_vermelo {
  color: #ef5c48;
}
.btn_vermelo:hover {
  background-color: #ef5c48;
  border-color: #ef5c48;
}
.btn_vermelo:focus {
  box-shadow: 0 0 5px #ef5c48;
}

.btn_verde {
  color: #49c48f;
}
.btn_verde:hover {
  background-color: #49c48f;
  border-color: #49c48f;
}
.btn_verde:focus {
  box-shadow: 0 0 5px #49c48f;
}

.btn_azul {
  color: #3b53a3;
}
.btn_azul:hover {
  background-color: #3b53a3;
  border-color: #3b53a3;
}
.btn_azul:focus {
  border-color: #3b53a3;
  box-shadow: 0 0 5px #3b53a3;
}

.btn_azul_claro {
  color: #87d2fb;
}
.btn_azul_claro:hover {
  background-color: #87d2fb;
  border-color: #87d2fb;
}
.btn_azul_claro:focus {
  border-color: #87d2fb;
  box-shadow: 0 0 5px #87d2fb;
}

.btn_roxo {
  color: #a84598;
}
.btn_roxo:hover {
  background-color: #a84598;
  border-color: #a84598;
}
.btn_roxo:focus {
  border-color: #a84598;
  box-shadow: 0 0 5px #a84598;
}

.btn_laranja {
  color: #f16923;
}
.btn_laranja:hover {
  background-color: #f16923;
  border-color: #f16923;
}
.btn_laranja:focus {
  border-color: #f16923;
  box-shadow: 0 0 5px #f16923;
}

.btn_cinza {
  color: #414f64;
}
.btn_cinza:hover {
  background-color: #414f64;
  border-color: #414f64;
}
.btn_cinza:focus {
  border-color: #414f64;
  box-shadow: 0 0 5px #414f64;
}

@media (min-width: 999px) {
  #header #div-cabecalho main {
    padding: 0 50px;
  }
  #header #div-cabecalho main .img-logo a img {
    width: 220px;
  }
  #header #div-cabecalho main .nav-pills {
    gap: 20px;
    transition-duration: 0s !important;
  }
  #header #div-cabecalho main .nav-pills .nav-lista {
    padding: 0;
    display: flex;
    align-items: center;
  }
  #header #div-cabecalho main .nav-pills .nav-lista li a:hover font {
    color: white;
  }
  #header #div-cabecalho main .nav-pills .nav-link {
    padding-left: 0;
    padding-right: 0;
  }
  #header #div-cabecalho main #botao {
    display: none;
  }
}
@media (max-width: 999px) {
  #header #div-cabecalho {
    width: 100%;
    background-color: white;
    align-items: center;
  }
  #header #div-cabecalho main {
    align-items: center;
  }
  #header #div-cabecalho main .img-logo {
    width: 190px;
    margin-left: 20px;
  }
  #header #div-cabecalho main .img-logo a img {
    width: 100%;
  }
  #header #div-cabecalho main .nav-pills {
    z-index: -9;
    width: 100%;
    position: absolute;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    transition-duration: 0.2s !important;
    top: -40px;
  }
  #header #div-cabecalho main .nav-pills button {
    padding: 0;
  }
  #header #div-cabecalho main #botao {
    height: 25px;
    display: flex;
    flex-direction: column;
    gap: 7px;
    border: none;
    position: absolute;
    align-items: center;
    justify-content: center;
    margin-right: 60px;
    right: 0;
  }
  #header #div-cabecalho main #botao:hover {
    cursor: pointer;
  }
  #header #div-cabecalho main #botao .menu-burger {
    background-color: #414f64;
    display: block;
    height: 10px;
    border-radius: 10px;
    width: 30px;
    transition-duration: 0.1s;
  }
  #alvo .nav-lista {
    width: 100%;
    border: 1px solid #ffb752;
  }
  #alvo .nav-lista button {
    padding-left: 16px;
    padding-right: 100%;
    border: none;
  }
  #alvo .nav-lista .cor:hover {
    background-color: #87d2fb;
  }
  #alvo .nav-lista .dropdown {
    padding: 0;
  }
  #alvo .nav-lista .dropdown #botao-lista-links {
    padding-left: 20px;
  }
  .aparecer {
    background-color: white;
  }
}
@media (max-width: 500px) {
  #header #div-cabecalho main #botao {
    margin-right: 30px;
  }
}
#header {
  z-index: 5;
  position: fixed;
  width: 100%;
  top: 0;
}
#header::-webkit-scrollbar {
  z-index: 9999999;
}
#header #cabecalho {
  height: 128px;
  background: #61bdf2;
}
#header #cabecalho .img-logo {
  display: flex;
  align-items: center;
}
#header #cabecalho #logo-header {
  transition-duration: 0.8s;
}
#header #cabecalho #logo-header:hover {
  transform: scale(1.1);
}
#header #cabecalho .nav-pills {
  transition-duration: 0s;
}
#header #cabecalho .nav-pills .nav-link {
  border-radius: 0px !important;
}
#header #cabecalho .nav-pills .nav-lista li a font {
  color: #414f64;
}

.aparecer {
  top: 128px !important;
}

.mbc {
  position: relative;
  top: 10px;
  transform: rotate(45deg);
}

.mbb {
  position: relative;
  bottom: 11px;
  transform: rotate(-45deg);
}

.abm {
  opacity: 0;
}

#footer {
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to right, #87d2fb 0%, #61bdf2 75%);
}
#footer p {
  margin: 0px;
}

@media (min-width: 1000px) {
  #main footer {
    height: 70px;
    padding: 0 100px;
  }
  #main footer div a {
    width: 40px;
    transition-duration: 0.8s;
  }
  #main footer div a:hover {
    width: 50px;
  }
}
@media (max-width: 999px) {
  #main footer {
    height: 70px;
  }
  #main footer div p {
    font-size: 1.2em;
  }
  #main footer div a img {
    width: 30px;
  }
  #main footer div a img:hover {
    width: 40px;
  }
}
@media (max-width: 770px) {
  #main #header_main {
    height: 200px !important;
    padding: 30px 0 !important;
    background-color: white !important;
    flex-direction: column;
  }
  #main footer {
    flex-direction: column;
    height: 170px;
    padding: 20px 0;
    gap: 15px;
  }
  #main footer div a img:hover {
    width: 35px;
  }
}
#main {
  margin-top: 128px;
}
#main #header_main {
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 100px;
  overflow: hidden;
}
#main #header_main img {
  width: 120px;
}
#main .redes_sociais {
  background-color: white;
  width: 90%;
  margin: 0 auto;
}
#main .redes_sociais h1 {
  text-align: center;
  font-size: 2em;
}
#main .redes_sociais .links {
  background-color: white;
  padding: 10px 0 20px 0px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
}
#main .redes_sociais .links a img {
  transition-duration: 0.5s;
}
#main .redes_sociais .links a img:hover {
  transform: scale(1.1);
}

.wats {
  position: fixed;
  top: 85%;
  right: 10px;
  width: 52px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition-duration: 0.6s;
  border-radius: 25px;
  z-index: 9999;
}
.wats div img {
  transition-duration: 0.6s;
  width: 100%;
}

.img-animacao {
  animation-name: wats;
  animation-duration: 10s;
  animation-iteration-count: infinite;
}

@keyframes wats {
  4.5%, 10.5% {
    transform: translate(0px, 0px) rotate(0deg);
  }
  5% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  5.5% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  6% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  6.5% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  7% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  7.5% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  8% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  8.5% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  9% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  9.5% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  10% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}
@media (max-width: 450px) {
  .circle {
    display: none;
  }
}
* {
  color: #414f64;
  margin: 0px;
  padding: 0px;
  cursor: none !important;
}

li {
  list-style: none;
}

body {
  width: 100% !important;
}

.circle {
  height: 10px;
  width: 10px;
  border-radius: 24px;
  background-color: black;
  position: fixed;
  top: 0;
  left: 0;
  transition-property: background-color, background 2s !important;
  pointer-events: none;
  z-index: 99999999; /* so that it stays on top of all other elements */
}

.texto_leitura {
  font-family: sans-serif !important;
}

@media (min-width: 1325px) {
  .padding_pos_fixo {
    padding-top: 86px;
  }
}
@media (max-width: 1324px) {
  .padding_pos_fixo {
    padding-top: 111px;
  }
}
@media (min-width: 766px) {
  #main header {
    background-color: #f16923;
  }
  #main .botoes {
    padding: 20px 0;
  }
  #main .imagens_produtos {
    background-color: 0;
  }
  #main .imagens_produtos .container_grid {
    width: 80%;
    grid-template-columns: 1fr;
    grid-template-rows: repat(3, 1fr);
    justify-content: center;
    align-items: center;
  }
  #main .imagens_produtos .container_grid .container_1, #main .imagens_produtos .container_grid .container_2, #main .imagens_produtos .container_grid .container_3 {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #main .imagens_produtos .container_grid .container_1 .img, #main .imagens_produtos .container_grid .container_2 .img, #main .imagens_produtos .container_grid .container_3 .img {
    display: inline;
  }
  .fixar_botoes {
    width: 100%;
  }
}
@media (max-width: 765px) {
  #main #header_main {
    height: 200px !important;
    padding: 30px 0 !important;
    background-color: white !important;
    flex-direction: column;
  }
  #main .descricao {
    flex-direction: column;
  }
  #main .botoes {
    width: 100%;
    padding: 15px 0;
  }
  #main .botoes .conteiner_cell {
    width: 100%;
  }
  #main .imagens_produtos {
    background-color: 0;
  }
  #main .imagens_produtos .container_grid {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
}
@media (min-width: 571px) {
  .fixar_botoes {
    position: fixed;
    background-color: white;
    top: 118px;
  }
  .foco_img img {
    width: 40%;
    max-width: 400px;
  }
}
@media (max-width: 570px) {
  .padding_pos_fixo {
    padding-top: 0px;
  }
  .foco_img img {
    width: 80%;
    max-width: 400px;
  }
  .msg_siga {
    margin: 10px 0 0 0;
  }
  .marcas .conteiner .c1 div, .marcas .conteiner .c2 div, .marcas .conteiner .c3 div {
    width: 20% !important;
  }
}
@media (max-width: 670px) {
  #main .imagens_produtos .container_grid {
    grid-column: 1;
  }
  #main .imagens_produtos .container_grid .container_1, #main .imagens_produtos .container_grid .container_2, #main .imagens_produtos .container_grid .container_3 {
    display: flex !important;
    flex-direction: column !important;
  }
  #main .imagens_produtos .container_grid .container_1 .img, #main .imagens_produtos .container_grid .container_2 .img, #main .imagens_produtos .container_grid .container_3 .img {
    width: 80%;
    margin: 0 auto;
  }
  .botoes {
    display: block !important;
    overflow: auto;
    padding: 10px 20px !important;
    margin-bottom: 10px !important;
  }
  .botoes .conteiner_cell {
    width: 850px !important;
    flex-wrap: nowrap !important;
    margin: 0 10px;
  }
  .btn_imagem_desativar {
    display: block !important;
    position: absolute;
    top: 2%;
    right: 7%;
    font-size: 3em;
  }
  .btn_imagem_desativar:hover {
    cursor: pointer;
  }
}
#main header, #main .descricao {
  margin: 0 auto;
}
#main #header_main {
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 100px;
  background-color: #f16923;
  overflow: hidden;
}
#main #header_main img {
  width: 120px;
}
#main .descricao {
  padding: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#main .descricao .texto {
  max-height: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
#main .descricao .texto h1 {
  width: 300px;
  font-size: 1.5em;
}
#main .descricao .texto P {
  width: 90%;
  animation-name: animacao_texto;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}
#main .descricao .texto .p {
  font-size: 2em;
  margin: 20px 0 0 0;
}
#main .descricao .imagem img {
  width: 250px;
}
#main .botoes {
  margin: 0 auto;
  transition-duration: 0.1s;
  z-index: 9;
}
#main .botoes .conteiner_cell {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  gap: 1%;
}
#main .botoes button {
  margin-top: 10px;
}
#main .imagens_produtos .container_grid {
  margin: 0 auto;
  display: grid;
}
#main .imagens_produtos .container_grid .container_1, #main .imagens_produtos .container_grid .container_2, #main .imagens_produtos .container_grid .container_3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
#main .imagens_produtos .container_grid .img {
  max-height: 100%;
}
#main .imagens_produtos .container_grid .img img {
  width: 100%;
  border: 2px solid #ef5c48;
}
#main .marcas {
  width: 100%;
}
#main .marcas h1 {
  text-align: center;
  margin: 10px 0 0 0;
  padding: 20px 0 0 0;
}
#main .marcas .conteiner {
  display: flex;
  flex-direction: column;
  gap: 5%;
  max-width: 80%;
  margin: 0 auto;
}
#main .marcas .conteiner .c1, #main .marcas .conteiner .c2, #main .marcas .conteiner .c3, #main .marcas .conteiner .c4 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10%;
}
#main .marcas .conteiner .c1 div, #main .marcas .conteiner .c2 div, #main .marcas .conteiner .c3 div, #main .marcas .conteiner .c4 div {
  width: 15%;
}
#main .marcas .conteiner .c1 div img, #main .marcas .conteiner .c2 div img, #main .marcas .conteiner .c3 div img, #main .marcas .conteiner .c4 div img {
  width: 100%;
}
#main .marcas .conteiner .c2 div:nth-child(3) {
  padding: 2px 5px 5px 5px;
  border-radius: 5px;
  background-color: black;
}
#main .msg_siga {
  padding: 20px 0 0 0;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#main .msg_siga h1 {
  width: 80%;
  border-top: 1px solid #ef5c48;
  border-bottom: 1px solid #ef5c48;
  padding: 5px 0 0 0;
  font-size: 1.5em;
  text-align: center;
}

.hover_img {
  transition-duration: 0.5s;
}
.hover_img:hover {
  transform: scale(1.03);
  cursor: pointer;
}

.foco_img_desaparecer {
  display: none;
}

.foco_img {
  position: fixed;
  top: 0;
  display: flex !important;
  justify-content: center;
  align-items: center;
  width: 100% !important;
  height: 100%;
  z-index: 999;
  filter: blur(0px) !important;
}
.foco_img a img {
  margin: 0 auto;
  width: 100%;
}

.blur {
  filter: blur(10px);
}

#div_imagem_ativada a {
  overflow: hidden;
}

body {
  overflow-x: auto;
}

#header {
  z-index: 99 !important;
}

.fixar_botoes {
  z-index: 3 !important;
  border-radius: 0 0 5px 5px;
}

.imagens_produtos {
  z-index: -99;
}

.btn_imagem_desativar {
  display: none;
}

.seta_prox, .seta_ante {
  position: absolute;
  width: 40px;
  top: 48%;
  transition-duration: 1s;
  z-index: 999999999;
}
.seta_prox:hover, .seta_ante:hover {
  transform: scale(1.2);
}
.seta_prox img, .seta_ante img {
  width: 100%;
}

.seta_prox {
  right: 5%;
}

.seta_ante {
  left: 5%;
}

@keyframes animacao_texto {
  from {
    -webkit-clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);
            clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);
  }
  to {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
}
@font-face {
  font-family: "blabla";
  src: url("../../Fonte/Omnes-Bold/blabla.otf");
}
* {
  font-family: "blabla";
}

.texto_leitura {
  font-family: sans-serif !important;
}

body {
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 12px;
  background-color: rgb(200, 200, 200);
  border: 5px solid white;
}

::-webkit-scrollbar-thumb {
  background-color: #87d2fb;
  border-radius: 50px;
  border: 2px solid white;
}/*# sourceMappingURL=main.css.map */