@media(max-width: 576px){
}
@media(max-width: 770px){
    #main{
        .valores{
            .v1, .v2, .v3{
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }
            *{
                text-align: center;
            }
        }
    }
}
@media(min-width: 575px){
}
#main{
    .titulo{
        padding-top:35px;
        *{
            text-align: center;
        }
        h1{
            text-align: center;
        }
    }
    .valores{
        width:100%;
        .h1{
            text-align: center;
            padding-top: 20PX;
        }
        .v2, .v3, .v1{
            display:flex;
            justify-content: space-around;
            margin:0 auto;
            padding:10px 0 10px 20px;
            *{
                color:white;
            }
            .img{
                img{width:100px;}
            }
            .texto{
                max-width:570px;
            }
        }
        .v1{
            background: $verde;
        }
        .v2{
            background: $azul;
        }
        .v3{
            background: $vermelho;
        }
    }
    .apresentacao{
        .texto{
            .container_beneficios{
                .beneficios{
                    padding:10px 0;
                    *{
                        text-align: center;
                    }
                    h2{
                        font-size: 1.5em;
                    }
                }
            }
        }
    }
}