@media(max-width: 576px){
}
@media(max-width: 770px){
    #main{
        .valores{
            .v1, .v2, .v3{
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }
            *{
                text-align: center;
            }
        }
    }
}
@media(min-width: 575px){
}
#main{
    #informacao{
        padding-top:35px;
        h1{
            text-align: center;
        }
        p{
            &:nth-child(0), &:nth-child(2), &:nth-child(4), &:nth-child(6){
                text-indent: 20px;
                width:70%;
                padding-right:10%;
                text-align: left;
                margin: 15px auto 0 auto;
            }
            &:nth-child(1), &:nth-child(3), &:nth-child(5){
                width:70%;
                padding-left:10%;
                text-align: right;
                margin: 15px auto 0 auto;
            }
        }
        
    }
    .valores{
        width:100%;
        .h1{
            text-align: center;
            padding-top: 20PX;
        }
        .v2, .v3, .v1{
            display:flex;
            justify-content: space-around;
            margin:0 auto;
            padding:10px 0 10px 0px;
            *{
                color:white;
            }
            .img{
                img{width:100px;}
            }
            .texto{
                max-width:570px;
            }
        }
        .v1{
            background: $verde;
        }
        .v2{
            background: $azul;
        }
        .v3{
            background: $vermelho;
        }
    }
    .apresentacao{
        .texto{
            .titulo{
                h1{
                    text-align: center;
                    margin:30px 0 10px 0;
                }
                p{
                    text-align: center;
                }
            }
            .container_beneficios{
                .beneficios{
                    padding:20px 0;
                    &:hover{
                        background-color: rgb(187, 187, 187);
                    }
                    *{
                        text-align: center;
                    }
                    p{
                        max-width:90%;
                        margin: 0 auto;
                    }
                    h2{
                        font-size: 1.5em;
                    }
                }
            }
        }
    }
}