
@media(min-width:1325px){
    .padding_pos_fixo{
        padding-top:86px;
    }
}
@media(max-width:1324px){
    .padding_pos_fixo{
        padding-top:111px;
    }
}
@media(min-width:766px){
    #main{
        header{
            background-color:$laranja;
        }
        .botoes{
            padding: 20px 0;
        }
        .imagens_produtos{
            background-color:green($color: #000000);
            .container_grid{
                width:80%;
                grid-template-columns: 1fr;
                grid-template-rows: repat(3, 1fr);
                justify-content: center;
                align-items:center;
                .container_1, .container_2, .container_3{
                    display:flex;
                    justify-content: center;
                    align-items: center;
                    .img{
                        display:inline;
                    }
                }
            }
        }
    }
    .fixar_botoes{
        width:100%;
    }
}
@media(max-width:765px){
    #main{
        #header_main{
            height:200px !important;
            padding:30px 0 !important;
            background-color:white !important;
            flex-direction: column;
        }
        .descricao{
            flex-direction: column;
            border:1px solid black;
        }
        .botoes{
            width:100%;
            padding:15px 0;
            .conteiner_cell{
                width:100%;
            }
        }
        .imagens_produtos{
            background-color:green($color: #000000);
            .container_grid{
                display:flex;
                flex-direction: column;
                width:100%;
            }
        }
    }
}
@media(min-width:571px){
    .fixar_botoes{
        position:fixed;
        background-color:white;
        top:118px;
    }
    .foco_img{
        img{
            width:40%;
            max-width:400px;
        }
    }
}
@media(max-width:570px){
    .padding_pos_fixo{
        padding-top: 0px;
    }
    .foco_img{
        img{
            width:80%;
            max-width: 400px;
        }
    }
    .msg_siga{
        margin:10px 0 0 0;
    }
    .marcas{
        .conteiner{
            .c1, .c2, .c3{
                div{
                    width:20% !important;
                }
            }
        }
    }
}
@media(max-width: 670px){
    #main{
        .imagens_produtos{
            .container_grid{
                grid-column: 1;
                .container_1, .container_2, .container_3{
                    display: flex !important;
                    flex-direction: column !important;
                    .img{
                        width: 80%;
                        margin: 0 auto;
                    }
                }
            }
        }
    }
    .botoes{
        display: block !important;
        overflow: auto;
        padding:10px 20px !important;
        margin-bottom: 10px !important;
        .conteiner_cell{
            width:850px !important;
            flex-wrap: nowrap !important;
            margin:0 10px;
        }
    }
    .btn_imagem_desativar{
        display: block !important;
        position: absolute;
        top: 2%;
        right: 7%;
        font-size: 3em;
        &:hover{cursor: pointer;}
    }
}
#main{
    header, .descricao{
        margin:0 auto;
    }
    #header_main{
        height:150px;
        display:flex;
        align-items: center;
        justify-content: space-between;
        padding:0 100px;
        background-color:$laranja;
        img{
            width:120px;
        }
        overflow: hidden;
    }
    .descricao{
        padding:30px;
        display:flex;
        justify-content: center;
        align-items: center;
        .texto{
            max-height: 100%;
            display: flex;
            flex-direction: column;
            gap:20px;
            h1{
                width:300px;
                font-size: 1.5em;
            }
            P{
                width:90%;
                animation-name: animacao_texto;
                animation-duration: 2s;
                animation-fill-mode: forwards; 
            }
            .p{
                font-size:2em;
                margin:20px 0 0 0;
            }
        }
        .imagem{
            img{width:250px;}
        }
    }
    .botoes{
        margin:0 auto;
        transition-duration: 0.1s;
        z-index: 9;
        .conteiner_cell{
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            align-items: center;
            gap:1%;
        }
        button{
            margin-top:10px;
        }
    }
    .imagens_produtos{
        .container_grid{
            margin:0 auto;
            display:grid;
            .container_1, .container_2, .container_3{
                display:grid;
                grid-template-columns: repeat(3, 1fr);
            }
            .img{
                max-height:100%;
                img{
                    width:100%;
                    border: 2px solid #ffb752;
                }
            }

        }
    }
    .marcas{
        width:100%;
        h1{
            text-align: center;
            margin:10px 0 0 0;
            padding:20px 0 0 0;
        }
        .conteiner{
            display:flex;
            flex-direction: column;
            gap:5%;
            max-width:80%;
            margin:0 auto;
            .c1, .c2, .c3, .c4{
                display:flex;
                justify-content: space-between;
                align-items: center;
                gap:10%;
                div{
                    width: 15%;
                    img{
                        width: 100%;
                    }
                }
            }
            .c2{
                div{
                    &:nth-child(3){
                        padding:2px 5px 5px 5px;
                        border-radius:5px;
                        background-color: black;
                    }
                }
            }
        }
    }
    .msg_siga{
        padding:20px 0 0 0;
        height:100px;
        display: flex;
        justify-content: center;
        align-items: center;
        h1{
            width:80%;
            border-top: 1px solid $vermelho;
            border-bottom: 1px solid $vermelho;
            padding:5px 0 0 0;
            font-size:1.5em;
            text-align: center;
        }
    }
}
.hover_img{
    transition-duration: 0.5s;
    &:hover{
        transform: scale(1.03);
        cursor: pointer;
    }
}
.foco_img_desaparecer{
    display:none;
}
.foco_img{
    position:fixed;
    top:0;
    display: flex !important;
    justify-content: center;
    align-items: center;
    width:100% !important;
    height:100%;
    z-index: 999;
    filter: blur(0px) !important;
    a{
        img{
            margin: 0 auto;
            width:100%;
        }
    }
}
.blur{
    filter: blur(10px);
}
#div_imagem_ativada{
    a{
        overflow: hidden;
    }
}
body{
    overflow-x: auto;
}
#header{
    z-index: 99 !important;
}
.fixar_botoes{
    z-index: 3 !important;
    border-radius:0 0 5px 5px;
}
.imagens_produtos{
    z-index: -99;
}
.btn_imagem_desativar{
    display: none;
}

@keyframes animacao_texto {
    from{
        clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);
    }
    to{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);

    }
}