
@media(min-width:1325px){
    .padding_pos_fixo{
        padding-top:79px;
    }
}
@media(max-width:1324px){
    .padding_pos_fixo{
        padding-top:116px;
    }
}
@media(min-width:766px){
    #main{
        header{
            background-color:$laranja;
        }
        .botoes{
            width:80%;
        }
        .imagens_produtos{
            background-color:green($color: #000000);
            .container_grid{
                width:80%;
                grid-template-columns: 1fr;
                grid-template-rows: repat(3, 1fr);
                justify-content: center;
                align-items:center;
                .container_1, .container_2, .container_3{
                    display:flex;
                    justify-content: center;
                    align-items: center;
                    .img{
                        display:inline;
                    }
                }
            }
        }
    }
    .fixar_botoes{
        right:10%;
    }
}
@media(max-width:765px){
    #main{
        header{
            height:200px !important;
            padding:30px 0 !important;
            background-color:white !important;
            flex-direction: column;
        }
        .descricao{
            flex-direction: column;
            border:1px solid black;
        }
        .botoes{
            width:100%;
        }
        .imagens_produtos{
            background-color:green($color: #000000);
            .container_grid{
                display:flex;
                flex-direction: column;
                width:100%;
                .container_1, .container_2, .container_3{
                    display:flex;
                }
            }
        }
    }
}
@media(min-width:571px){
    .fixar_botoes{
        position:fixed;
        background-color:white;
        top:98px;
    }
    .foco_img{
        img{
            width:40%;
            max-width:400px;
        }
    }
}
@media(max-width:570px){
    .padding_pos_fixo{
        padding-top: 0px;
    }
    .foco_img{
        img{
            width:80%;
            max-width: 400px;
        }
    }
    .msg_siga{
        margin:10px 0;
    }
}
#main{
    header, .descricao{
        margin:0 auto;
    }
    header{
        height:150px;
        display:flex;
        align-items: center;
        justify-content: space-between;
        padding:0 100px;
        background-color:$laranja;
        img{
            width:120px;
        }
        overflow: hidden;
    }
    .descricao{
        padding:30px;
        display:flex;
        justify-content: center;
        align-items: center;
        .texto{
            max-height: 100%;
            display: flex;
            flex-direction: column;
            gap:20px;
            h1{
                width:300px;
                font-size: 1.5em;
            }
            P{
                font-family: serif;
                width:90%;
            }
            .p{
                font-family: 'blabla';
                font-size:2em;
                margin:20px 0 0 0;
            }
        }
        .imagem{
            img{width:250px;}
        }
    }
    .botoes{
        margin:0 auto;
        display:flex;
        flex-wrap: wrap;
        align-items: center;
        gap:1%;
        justify-content: center;
        transition-duration: 0.2s;
        padding:20px 0;
        z-index: 9;
    }
    .imagens_produtos{
        .container_grid{
            margin:0 auto;
            display:grid;
            .img{
                max-height:100%;
                img{
                    width:100%;
                    background-clip:border-box;
                    box-shadow: 1px 1px 10px black;
                }
            }

        }
    }
    .msg_siga{
        padding:20px 0;
        height:100px;
        display: flex;
        justify-content: center;
        align-items: center;
        h1{
            width:80%;
            border-top: 1px solid red;
            border-bottom: 1px solid red;
            font-size:1.5em;
            text-align: center;
        }
    }
}
.hover_img{
    transition-duration: 0.5s;
    &:hover{
        transform: scale(1.03);
        cursor: pointer;
    }
}
.foco_img_desaparecer{
    display:none;
}
.foco_img{
    position:fixed;
    top:0;
    display: flex !important;
    justify-content: center;
    align-items: center;
    width:100% !important;
    height:100%;
    z-index: 999;
    filter: blur(0px) !important;
    img{
        box-shadow: 1px 1px 10px black;
        width:100%;
    }
}
.blur{
    filter: blur(10px);
}
#img_imagem_ativada{
    transition-duration: 0.7s !important;
    &:hover{
        transform: scale(1.04);
    }
}
body{
    overflow-x: hidden;
}
#header{
    z-index: 99 !important;
}
.fixar_botoes{
    z-index: 3 !important;
}
.imagens_produtos{
    z-index: -99;
}