@import "../../geral/main.scss", "paginaPrincipal/main";

@font-face {
    font-family: 'blabla';
    src: url('../../Fonte/blabla.otf');
}
*{
    font-family: 'blabla';
}

body{
    min-height: 300px;
    background-color: red;
}