@import "../../geral/main.scss", "sobre_main/main";

@font-face {
    font-family: 'blabla';
    src: url('../../Fonte/Omnes Bold/blabla.otf');
}
*{
    font-family: 'blabla';
}

body{
    min-height: 300px;
}

::-webkit-scrollbar{
    width:12px;
    background-color: rgb(200,200,200);
    border:5px solid white;
}
::-webkit-scrollbar-thumb{
    background-color: $azul_claro;
    border-radius: 50px;
    border:2px solid white;
}