//medidas
@media(max-width: 920px){
    #main{
        .links{
            .flex{
                flex-direction: column;
                gap:20px;
                .link{
                    width:90% !important;
                    margin:0 auto;
                    .divisoria{
                        .msg{
                            h1{
                                font-size: 2.3em !important;
                            }
                        }
                    }
                    &:nth-child(1){
                        .divisoria{
                            .msg{
                                h1{
                                    width:100% !important;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
@media(min-width:801px) {
    #main{
        .logo{
            .conteiner{
                img{
                    left:50%;
                }
            }
            .frase{
                p{
                    left:10px;
                }
            }
        }
        .descricao{
            div{
                p{
                    width:50%;
                }
            }
        }
    }
}
@media(max-width:800px){
    #main{
        .logo{
            .conteiner{
                img{
                        left:25%;
                    }
            }
            .frase{
                p{
                    left:10px;
                }
            }
        }
    }
    
}
@media(max-width: 1000px){
    #main{
        .imagens{
            .conteiner{
                flex-direction: column;
                .l1, .l2{
                    width:100% !important;
                }
            }
        }
    }
}
@media(max-width:550px){
    #main{
         .logo{
            .conteiner{
                img{
                    left:10%;
                }
            }
            .frase{
                p{
                    left:20px;
                }
            }
        }
        .links{
            padding: 20px 0px 20px 0px !important;
        }
    }
}
@media(max-width: 500px){
    #main{
        .imagens{
            .conteiner{
                .l2{
                    .imgs{
                        gap:0px !important;
                        .bloco1, .bloco2{
                        flex-direction: column !important;
                        a{
                            width:100% !important;
                            margin:10px 0;
                        }
                    }
                    }
                    
                }
            }
        }
    }       
}
//geral
#main{
    #carrocel_header{
        #carouselExampleIndicators{
            height:100%;
        }
    }
    .frase{
        width:50%;
        display: flex;
        align-items: center;
        p{
            position: relative;
            opacity:0;
            animation-name: frase;
            animation-duration: 2.4s;
            animation-delay: 2s;
            animation-fill-mode: forwards;
        }
    }
    #carrocel_servicos{
        margin-top: 20px;
        width:100%;
        height: 120px;
        .conteiner{
            width:100%;
            height:100%;
            overflow: auto;
            .painel{
                display:flex;
                justify-content: space-between;
                align-items: center;
                height:100%;
                margin: 0 auto;
                padding:0 20px;
                width:1307px;
                .elemento{
                    background-color:rgba(255, 0, 0, 0.885);
                    width:250px;
                    height:100%;
                    img{
                        width:100%;
                        height:100%;
                    }
                }
            }
        }
    }
    .imagens{
        padding:20px;
        .conteiner{
            display: flex;
            gap:20px;
            .l1, .l2{
                width:50%;
                // background-color: blue;
                    img{
                        width:100%;
                    }
                    a{
                        border:2px solid #ffb752;
                        overflow: hidden;
                        img{
                            width:100%;
                            height:100%;
                            transition-duration: 0.5s;
                            &:hover{
                                transform: scale(1.05);
                            }
                        }
                    }
            }
            .l1{
                .img{
                    width:100%;
                    height:100%;
                    a{
                        display:block;
                        width:100%;
                        img{
                            width: 100%;
                            height: 100%;
                        }
                    }
                }
            }
            .l2{
                .imgs{
                    width:100%;
                    height:100%;
                    display: flex;
                    flex-direction: column;
                    gap:20px;
                    .bloco1, .bloco2{
                        display:flex;
                        gap:4%;
                        width:100%;
                        height:50%;
                        a{
                            width:48%;
                        }
                    }
                }
            }
        }
    }
    .links{
        padding:40px 0;
        .flex{
            display: flex;
            justify-content: space-evenly;
            .link{
                height:400px;
                min-width:240px;
                border:1px dashed black;
                border-radius:20px;
                padding:15px;
                .divisoria{
                    height:100%;
                    .msg{
                        height:90px;
                        h1{
                            font-size: 1.5em;
                            text-align: center;
                            padding:25px;
                            a{
                                color:$cinza !important;
                            }
                        }
                        &:hover{
                            h1{
                                a{
                                    font-size: 1.08em;
                                    &:hover{
                                        opacity:0.8;
                                    }
                                }
                            }
                        }
                    }
                    .img{
                        height:278px;
                        width:100%;
                        display:flex;
                        justify-content: center;
                        img{
                            height:100%;
                            transition-duration: 0.5s;
                        }
                        &:hover{
                            img{
                                transform: scale(1.04);
                            }
                        }
                    }
                }
                &:nth-child(1){
                    .divisoria{
                        .msg{
                            h1{
                                padding:10px;
                                float: right;
                            }
                        }
                    }
                }
            }
        }
    }
}
.redes_sociais{
    margin-top:30px !important;
}

//animação
.setaSumir{
     opacity:0;
     img{
         &:hover{
            cursor: default !important;
        }
     }
}
.frase-ativa{
    animation-name: frase;
    animation-duration: 2.4s;
    animation-fill-mode: forwards;
}
.img-ativo{
    animation-name: guaxinim;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}
.reset_carrosel{
    display: none !important;
}
.seta_carrocel{
    background-color: black;
}
@keyframes guaxinim{
    from{
        top:100%px;
    }
    to{
        top:30px;
    }
}
@keyframes frase{
    from{
        opacity:0;
    }
    to{
        opacity:1;
    }
}
.carousel-control-prev-icon{
    background-image: url('../../img/formas/icons8-seta-longa-à-esquerda-48.png') !important;
}
.carousel-control-next-icon{
    background-image: url('../../img/formas/icons8-seta-longa-à-direita-48.png') !important;
}
