#footer{
    height:70px;
    display:flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right, $azul_claro 0%, #61bdf2 75%);
    p{
        margin:0px;
    }
}