@media (min-width:999px){
    #header{
        #div-cabecalho{
            main{
                padding:0 50px;
                .img-logo{
                    a{
                        img{
                            width:220px;
                        }
                    }
                }
                .nav-pills{
                    gap:20px;
                    transition-duration: 0s !important;
                    .nav-lista{
                        padding:0;
                        display:flex;
                        align-items: center;
                        li{
                            a{
                                &:hover{
                                    font{
                                        color:white;
                                    }
                                }
                            }
                        }
                    }
                    .nav-link{
                        padding-left:0;
                        padding-right:0;
                    }
                }
                #botao{
                    display: none;
                }
            }
       }
       
    }
}
@media (max-width:999px){
    #header{
        #div-cabecalho{
            width:100%;
            background-color: white;
            align-items: center;
            main{
                align-items: center;
                .img-logo{
                    width:190px;
                    margin-left:20px;
                    a{
                        img{
                            width:100%;
                        }
                    }
                }
                .nav-pills{
                    z-index: -9;
                    width:100%;
                    position:absolute;
                    flex-direction: column;
                    justify-content: start;
                    align-items: start;
                    transition-duration: 0.2s !important;
                    top:-40px;
                    button{
                        padding:0;
                    }
                }
                
                #botao{
                    height:25px;
                    display:flex;
                    flex-direction: column;
                    gap:7px;
                    border:none;
                    position: absolute;
                    align-items: center;
                    justify-content: center;
                    margin-right: 60px;
                    right:0;
                    &:hover{
                        cursor: pointer;
                    }
                    .menu-burger{
                        background-color:$cinza;
                        display:block;
                        height: 10px;
                        border-radius:10px;
                        width: 30px;
                        transition-duration: 0.1s;
                    }
                }
            }
        }
    }
    #alvo{
        .nav-lista{
            width:100%;
            border:1px solid #ffb752;
            button{
                padding-left: 16px;
                padding-right:100%; 
                border:none;
            }
            .cor:hover{
                background-color: $azul_claro;
            }
            .dropdown{
                padding:0;
                #botao-lista-links{
                    padding-left:20px;
                }
            }
        }
    }
    .aparecer{background-color:white;}
}
@media(max-width:500px){
    #header{
        #div-cabecalho{
            main{
                #botao{
                    margin-right:30px;
                }
            }
        }
    }
}
//geral
#header{
    z-index: 5;
    position:fixed;
    width:100%;
    top:0;
    &::-webkit-scrollbar{
        z-index: 9999999;
    }
    #cabecalho{
        height:128px;
        background: #61bdf2;
        .img-logo{
            display: flex;
            align-items: center;
        }
        #logo-header{
            transition-duration: 0.8s;
            &:hover{
                transform: scale(1.1);
            }
        }
        .nav-pills{
            transition-duration: 0s;
            .nav-link{
                border-radius: 0px !important;
            }
            .nav-lista{
                // background-color: red;
                li{
                    a{
                        font{
                            color: $cinza;
                        }
                    }
                }
            }
        }
    }
}

//animações
.aparecer{
    top:128px !important;
}
.mbc{
    position: relative;
    top:10px;
    transform: rotate(45deg);
}
.mbb{
    position: relative;
    bottom: 11px;
    transform: rotate(-45deg);
}
.abm{
    opacity: 0;
}